---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - restore.restore.elastic.co
  resources:
  - restoretasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - restore.restore.elastic.co
  resources:
  - restoretasks/finalizers
  verbs:
  - update
- apiGroups:
  - restore.restore.elastic.co
  resources:
  - restoretasks/status
  verbs:
  - get
  - patch
  - update
